@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --primaryColor: #fde8cd;
    --textColor: #112d4e;
    --secondaryColor: #3f72af;
    --bgColor: #f9f7f7;
}

body {
    background-color: var(--var(--bgColor));
    color: var(--textColor);
    font-family: Oswald, sans-serif;
}

.project-links {
    width: 70%;
    text-decoration: none;
    margin: auto;
    list-style-type: none;
    margin-top: 100px;
}

.link {
    text-decoration: none;
    color: var(--textColor);
    font-weight: bold;
}

header {
    background-color: var(--secondaryColor);
}