*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1.9;
    text-align: center;
}

nav ul{
    display: inline-block;
    list-style: none;
    margin-left: 500px;
}

nav ul li{
    display: inline-block;
    margin-right: 30px;
}

a{
    text-decoration: none;
    color:#555;
}

p{
    color:#555;
}

.container{
    max-width: 1300px;
    margin:auto;
    padding-left: 25px;
    padding-right: 25px;

}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin:25px 0;
}

.btn{
    display: inline-block;
    background-color: #d176b6;
    color:#fff;
    text-decoration: none;
    padding:8px 30px;
    margin: 10px 0;
    border-radius: 30px;
    
}
.btn:hover{
    background: #563434;
}

.header{
    background: radial-gradient(#fff,#ffd6d6);
}

.header.row{
    margin-top: 70px;
}

